<p style="color: green"><%= notice %></p>

<%= render @admin %>

<div>
  <%= link_to "Edit this word", edit_admin_path(@admin) %> |
  <%= link_to "Back to words", admins_path %>

  <%= button_to "Destroy this word", @admin, method: :delete %>
</div>
